body{
    background-color: white;
    margin: 0;
    padding: 0;
}

.m-nosotros{
    float: right;
    padding-right: 2em;
    padding-top: 10px;
}
.p-nosotros{
    width: 100%;
    height: 70px;
    background-color: midnightblue;
}

.m-nosotros>a{
    color: seashell;
    text-decoration: none;
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 3em;

}

.m-nosotros>a:hover{
    color: rgb(123, 153, 207);
    font-size: larger;
    font-weight: bolder;

}



.titulo{
    float: left;
    color: rgb(123, 153, 207);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.n-imagen{
    float: right;
    padding-top: 4em;
    margin-right: 10em;
    
}

.img-banner{
    width: 450px;
    height: 600px;
}

.titulo-ergo{
    position: absolute;
    right: 900px;
    top: 200px;
}
.titulo-Ergo{
    color: rgb(38, 32, 77);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.inf-nosotros{
    position: absolute;
    right: 700px;
    width: 500px;
    top: 300px;

}

.info{
    
    color: rgb(38, 32, 77);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
